/*-----Link paleta de colores*-----**/
/*---http://www.colourlovers.com/patterns/add?colors=A4B9BE,9FB9BA,B5A9A9,31C7EA,B7AFAC&pID=4877067---*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}


.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgb(0, 0, 0)!important;
}

.back {
    text-align: start;
    display: flex;
    color: #000000;
}

.busqueda {
    margin-top: 20px;
    text-align: center;
    visibility: hidden;
}

a{
    color:#00f2fe;
    padding: auto;
    
}
a:hover{
    color:#00f2fe;
}

@media (max-width: 767px) {
    .back {
      display: none;
    }
  }

.text-warning {
    color: #c83c3c;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(49 199 234);
}

.btn-outline-warning {
    background: black;
    border-color: #31C7EA;
}

.btn-outline-warning {
    color: #31C7EA;
    border-color: #31C7EA;
}
.btn:hover {
    background: #cdd0d1;
}

#carousel{
    position: relative; /*Para que se adapte a la pantalla*/
}
h1{
    font-size: 100px;
    color: #0a0909;
}

.overlay {
    position:absolute; /* Para que se adapta al caruosel*/
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #31C7EA;
}

@media (max-width: 1197px) {
    h1 {
      font-size: 80px;
    }

    p {
        font-size: 10px;
    }
   
    
  }

  @media (max-width: 1000px) {
    h1 {
      font-size: 50px;
      text-align: end;
    }

    p {
        visibility: hidden;
    }
    .botones {
       font-size: 10px;
    }
    #footer{
        background: #ab2525;
        text-decoration: none;
    }
  }

  @media (max-width: 570px) {
    h1 {
      visibility: hidden;
    }

    p {
        visibility: hidden;
    }
    .botones {
        visibility: hidden;
    }
    #footer{
        background: #ab2525;
        text-decoration: none;
    }
  }


#carusel{
    max-height: 80vh;
    object-fit: cover;
    filter: sepia(30%);
    height: 400px;
    width: 400px;
    position: absolute;
    left: 500px;
}

#textsex{
    background: #B7AFAC;
    text-align: center;
    margin-top: 10px;
}
.txt{
    font-size: 40px;
} 
.container-fluid {
    max-width: 1400px;

}

.card {
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    border: 0;
    border-radius: 1rem;
}

.card-img,
.card-img-top {
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
}


.card h5 {
    overflow: hidden;
    height: 55px;
    font-weight: 300;
    font-size: 1rem;
}

.card h5 a {
  color: black;
  text-decoration: none;
} 

.card-img-top {
    width: 100%;
    min-height: 250px;
    max-height: 250px;
    object-fit: contain;
    padding: 30px;
}

.card h2 {
    font-size: 1rem;
}


.card:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

/* Centered text */
.label-top {
    position: absolute;
    background-color: var(--label-index);
    color: #fff;
    top: 8px;
    right: 8px;
    padding: 5px 10px 5px 10px;
    font-size: .7rem;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase;
}

.top-right {
    position: absolute;
    top: 24px;
    left: 24px;

    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 900;
    background: #8bc34a;
    line-height: 90px;
    text-align: center;
    color: white;
}

.top-right span {
    display: inline-block;
    vertical-align: middle;
    /* line-height: normal; */
    /* padding: 0 25px; */
}

.aff-link {
    /* text-decoration: overline; */
    font-weight: 500;
}

.over-bg {
    background: rgba(53, 53, 53, 0.85);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.0px);
    -webkit-backdrop-filter: blur(0.0px);
    border-radius: 10px;
}
.bold-btn {

    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 50px 5px 50px;
}
.box .btn {
    font-size: 1.5rem;
}

@media (max-width: 1025px) {
    .btn {
        padding: 5px 40px 5px 40px;
    }
}
@media (max-width: 250px) {
    .btn {
        padding: 5px 30px 5px 30px;
        font-size: 50px;
    }
}

/* START BUTTON */
.btn-warning {
    background: var(--btnbg);
    color: var(--btnfontcolor);
    fill: #ffffff;
    border: none;
    text-decoration: none;
    outline: 0;
    /* box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25); */
    border-radius: 100px;
}
.btn-warning:hover {
    background: var(--btnbghover);
    color: var(--btnfontcolorhover);
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}
.btn-check:focus + .btn-warning, .btn-warning:focus {
    background: var(--btnbghover);
    color: var(--btnfontcolorhover);
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}
.btn-warning:active:focus {
    box-shadow: 0 0 0 0.25rem var(--btnactivefs);
}
.btn-warning:active {
    background: var(--btnbghover);
    color: var(--btnfontcolorhover);
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}

/* END BUTTON */

.bg-success {
    font-size: 1rem;
    background-color: var(--btnbg)!important;
    color: var(--btnfontcolor)!important;
}
.bg-danger {
    font-size: 1rem;
}


.price-hp {
    font-size: 1rem;
    font-weight: 600;
    color: darkgray;
}

.amz-hp {
    font-size: .7rem;
    font-weight: 600;
    color: darkgray;
}

.fa-question-circle:before {
    /* content: "\f059"; */
    color: darkgray;
}

.fa-heart:before {
    color:crimson;
}
.fa-chevron-circle-right:before {
    color: darkgray;
}
#botonxd {
    background: #B5A9A9;
    color: #00f2fe;
}

.justify {
    text-align: justify;
    font-size: 20px;
  }
  
/*--Css Footer--*/
#footer{
    background: #000000;
    list-style: none;
}

